@use "../common/variable" as *;
@use "../util" as *;

.header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  @include theme-picker(color);
  @include theme-picker(background-color);
  &_content {
    height: 100%;
    margin: 0 auto;
  }
  &_gnb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $base_large-laptop-width;
    height: 64px;
    margin: 0 auto;
    padding: 0 16px;
    .logo {
      display: block;
      font-family: $base_font-family_logo;
      font-size: rem-calc(18);
      font-weight: 700;
    }
    .form-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .form {
      width: 256px;
      height: 40px;
    }
  }
}

@media screen and (max-width: $base_width) {
  .header {
    &_gnb {
      width: 100%;
    }
  }
}
