@use "../common/variable" as *;
@use "../common/animation" as *;
@use "../util" as *;

.video {
  padding: 0 8px;
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .item {
      width: 25%;
      margin: 0 0 40px;
      padding: 0 8px;
      .item {
        &_img {
          display: block;
          width: 100%;
          border-radius: 12px;
        }
        &_info {
          margin-top: 12px;
          .info {
            &_channelTitle {
              font-size: rem-calc(14);
              @include theme-picker(color, color_info);
            }
            &_timeago {
              display: block;
              margin-top: 2px;
              font-size: rem-calc(12);
              @include theme-picker(color, color_info);
            }
          }
        }
      }
      &.skeleton {
        .item {
          &_img {
            position: relative;
            overflow: hidden;
            padding-top: calc(9 / 16) * 100%;
            border-radius: 0;
            @include theme-picker(background-color, background-color_skeleton);
            @include theme-picker(opacity, background-color_skeleton-opacity);
            &::before {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              content: "";
              animation: loading 2000ms infinite linear;
              @include theme-picker(background-image, background-image_skeleton);
            }
          }
          &_info {
            .info {
              &_title {
                position: relative;
                height: rem-calc(24);
                &::before {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  width: 100%;
                  height: rem-calc(16);
                  margin-top: rem-calc(-8);
                  content: "";
                  @include theme-picker(background-color, background-color_skeleton);
                  @include theme-picker(opacity, background-color_skeleton-opacity);
                }
              }
              &_channelTitle {
                position: relative;
                height: rem-calc(21);
                &::before {
                  position: absolute;
                  top: 50%;
                  left: 0;
                  width: 50%;
                  height: rem-calc(14);
                  margin-top: rem-calc(-7);
                  content: "";
                  @include theme-picker(background-color, background-color_skeleton);
                  @include theme-picker(opacity, background-color_skeleton-opacity);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $base_laptop-width) {
  .video {
    &_list {
      .item {
        width: calc(100% / 3);
      }
    }
  }
}

@media screen and (max-width: $base_tablet-width) {
  .video {
    &_list {
      .item {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: $base_mobile-width) {
  .video {
    &_list {
      .item {
        width: 100%;
      }
    }
  }
}
