@use "../common/variable" as *;
@use "../common/animation" as *;
@use "../util" as *;

.videoDetail {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  &_vedio {
    width: calc(100% - 400px);
    .video {
      &_iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-top: calc(39 / 64) * 100%;
        &.skeleton {
          @include theme-picker(background-color, background-color_skeleton);
          @include theme-picker(opacity, background-color_skeleton-opacity);
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            animation: loading 2000ms infinite linear;
            @include theme-picker(background-image, background-image_skeleton);
          }
        }
        iframe {
          position: absolute;
          z-index: 400;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &_info {
        margin-top: 12px;
        .info {
          &_title {
            font-size: rem-calc(20);
          }
          &_channel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 6px;
            .channel {
              &_des {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .des {
                  &_img {
                    display: block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: scale-down;
                  }
                  &_info {
                    padding-left: 12px;
                    .info {
                      &_title {
                        font-size: rem-calc(16);
                        font-weight: 400;
                      }
                      &_subscriberCount {
                        font-size: rem-calc(12);
                        @include theme-picker(color, color_info);
                      }
                    }
                  }
                }
              }
              &_button {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 36px;
                  padding: 0 12px;
                  transition: background-color 200ms ease;
                  font-size: rem-calc(14);
                  border-radius: 18px;
                  @include theme-picker(color);
                  @include theme-picker(background-color, background-color_box);
                  &:hover {
                    @include theme-picker(background-color, background-color_box-hover);
                  }
                }
              }
            }
          }
          &_box {
            margin-top: 12px;
            padding: 12px;
            transition: background-color 200ms ease;
            border-radius: 12px;
            @include theme-picker(background-color, background-color_box);
            &:hover {
              @include theme-picker(background-color, background-color_box-hover);
            }
            &[data-togglebox="false"] {
              overflow-x: auto;
              overflow-y: hidden;
              height: rem-calc(108);
              cursor: pointer;
            }
            .description {
              font-size: rem-calc(14);
              white-space: pre-wrap;
            }
            .sub {
              font-size: rem-calc(14);
            }
          }
        }
        &.skeleton {
          .info {
            &_title {
              position: relative;
              height: rem-calc(30);
              &::before {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: rem-calc(20);
                margin-top: rem-calc(-10);
                content: "";
                @include theme-picker(background-color, background-color_skeleton);
                @include theme-picker(opacity, background-color_skeleton-opacity);
              }
            }
            &_box {
              height: rem-calc(108);
              border-radius: 0;
              @include theme-picker(background-color, background-color_skeleton);
              @include theme-picker(opacity, background-color_skeleton-opacity);
            }
          }
        }
      }
    }
  }
  &_list {
    width: 400px;
    padding-left: 24px;
    .list {
      .item {
        margin-top: 8px;
        &:first-child {
          margin-top: 0;
        }
        &_link {
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          height: 94.5px;
        }
        &_img {
          position: relative;
          overflow: hidden;
          width: 168px;
          height: 100%;
          border-radius: 8px;
          .img {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &_info {
          width: calc(100% - 168px);
          padding-left: 8px;
          .info {
            &_title {
              font-size: rem-calc(14);
              & + * {
                margin-top: 4px;
              }
            }
            &_channelTitle {
              font-size: rem-calc(12);
              @include theme-picker(color, color_info);
            }
            &_timeago {
              display: block;
              font-size: rem-calc(12);
              @include theme-picker(color, color_info);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: calc($base_large-laptop-width + 48px)) {
  .videoDetail {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: $base_laptop-width) {
  .videoDetail {
    flex-direction: column;
    &_vedio {
      width: 100%;
      margin: 0 auto;
    }
    &_list {
      width: 100%;
      margin-top: 24px;
      padding-left: 0;
    }
  }
}
