@use "../common/variable" as *;
@use "../common/animation" as *;
@use "../util" as *;

.videoDetail {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  &_vedio {
    width: calc(100% - 400px);
    .video {
      &_iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        padding-top: calc(39 / 64) * 100%;
        &.skeleton {
          @include theme-picker(background-color, background-color_skeleton);
          @include theme-picker(opacity, background-color_skeleton-opacity);
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            animation: loading 2000ms infinite linear;
            @include theme-picker(background-image, background-image_skeleton);
          }
        }
        iframe {
          position: absolute;
          z-index: 400;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      &_info {
        margin-top: 12px;
        .info {
          &_title {
            font-size: rem-calc(20);
          }
          &_box {
            margin-top: 12px;
            padding: 12px;
            transition: background-color 200ms ease;
            border-radius: 12px;
            @include theme-picker(background-color, background-color_box);
            &:hover {
              @include theme-picker(background-color, background-color_box-hover);
            }
            &[data-togglebox="false"] {
              overflow-x: auto;
              overflow-y: hidden;
              height: rem-calc(108);
              cursor: pointer;
            }
            .description {
              font-size: rem-calc(14);
              white-space: pre-wrap;
            }
            .sub {
              font-size: rem-calc(14);
            }
          }
        }
        &.skeleton {
          .info {
            &_title {
              position: relative;
              height: rem-calc(30);
              &::before {
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: rem-calc(20);
                margin-top: rem-calc(-10);
                content: "";
                @include theme-picker(background-color, background-color_skeleton);
                @include theme-picker(opacity, background-color_skeleton-opacity);
              }
            }
            &_box {
              height: rem-calc(108);
              border-radius: 0;
              @include theme-picker(background-color, background-color_skeleton);
              @include theme-picker(opacity, background-color_skeleton-opacity);
            }
          }
        }
      }
    }
  }
  &_list {
    width: 400px;
  }
}
