@use "../common/variable" as *;
@use "../util" as *;

.video {
  padding: 0 8px;
  &_list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
