@use "./variable" as *;
@use "../util" as *;

#App {
  position: relative;
  min-height: 100vh;
  font-family: $base_font-family;
  font-size: 16px;
  line-height: 1.5;
  @include theme-picker(color);
  @include theme-picker(background-color);

  .container {
    width: $base_large-laptop-width;
    margin: 0 auto;
    padding: 64px 0 0;

    > *:first-child {
      padding-top: 24px;
    }
  }
}

@media screen and (max-width: calc($base_large-laptop-width + 48px)) {
  #App {
    .container {
      width: 100%;
    }
  }
}
