$base_font-family: "Noto Sans KR", "Noto Sans", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
  "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$base_font-family_logo: "Fjalla One", -apple-system, BlinkMacSystemFont, "Malgun Gothic",
  "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
$base_font-size: 16px;
$base_width: 1280px;
$base_laptop-width: 1024px;
$base_tablet-width: 768px;
$base_mobile-width: 425px;

$theme: (
  light: (
    color: #000000,
    color_info: #606060,
    border-color: #cccccc,
    background-color: #ffffff,
    background-color_switch: #9e9e9e,
    background-color_switch-thumb: #ffffff,
    background-color_skeleton: #000000,
    background-color_skeleton-opacity: 0.1,
    background-color_box: rgba(0, 0, 0, 0.05),
    background-color_box-hover: rgba(0, 0, 0, 0.15),
    background-image_skeleton:
      linear-gradient(to right, rgba(#000000, 0.1), rgba(#ffffff, 1), rgba(#000000, 0.1)),
  ),
  dark: (
    color: #ffffff,
    color_info: #ffffff,
    border-color: #cccccc,
    background-color: #0f0f0f,
    background-color_switch: #9e9e9e,
    background-color_switch-thumb: #ffffff,
    background-color_skeleton: #ffffff,
    background-color_skeleton-opacity: 0.4,
    background-color_box: rgba(255, 255, 255, 0.1),
    background-color_box-hover: rgba(255, 255, 255, 0.2),
    background-image_skeleton: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2),
  ),
);
